<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>notePULL</title>
    <meta name="COGS120" content="Sign Up">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/main.css">
    <!--<link rel="stylesheet" href="/css/note.css">-->
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Bootstrap Form Helpers -->
    <link href="css/bootstrap-form-helpers.min.css" rel="stylesheet" media="screen">
    <!-- Social Media Buttons -->
    <link href="css/social-buttons-3.css" rel="stylesheet">
    <!-- Extra Icons -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
</head>

    <body>
        <div class="container-fluid">
            <!-- COPY AND PASTE THIS FOR THE SIDE BAR CODE -->
            <div class="row row-offcanvas row-offcanvas-left">
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="#"><i class="fa fa-plus fa-2x"></i> NEW</a></li>
                        <li><a href="home"><i class="fa fa-folder-open-o fa-2x"></i> FOLDERS</a></li>
                        <li><a href="settings.html"><i class="fa fa-cog fa-2x"></i> SETTINGS</a></li>
                        <li><a href="help.html"><i class="glyphicon glyphicon-question-sign iconav"></i> HELP</a></li>
                        <li><a href="index.html"><i class="glyphicon glyphicon-log-out iconav"></i> LOGOUT</a></li>
                    </ul>
                </div>
            <!-- this is the other column in the code -->
            <div class="col-xs-12 col-sm-9  main" id="column2">
                <p class="pull-left visible-xs">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Menu</button>
                    </p>
                <!--<div class="newfolder1"><a href="/new">
                        <span class="newfolder">+    NEW FOLDER</span>
                        </a><div class="btn-group sortControl" id="sortFoldersControl" style="float:right;">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span id="sortFoldersButton">Sort By</span><span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/sort/alpha" data-order="alpha">Title: A-Z</a></li>
                            <li><a href="/sort/alphadesc" data-order="alphadesc">Title: Z-A</a></li>
                            <li><a href="/sort/latest" data-order="latest">Date: Latest</a></li>
                            <li><a href="/sort/oldest" data-order="oldest">Date: Oldest</a></li>
                          </ul>
                    </div> 
                </div>-->
                        
                <div class="folder" style="height:60px;">
                    <div style="border:1px solid #333;height:100%;background:transparent;width:70%;padding:5%;display:table-cell;"><input style="border:transparent;height:100%;background:transparent;" placeholder="search notes"></input></div>
                    <div style="display:table-cell;border:1px solid #333;height:100%;background:transparent;width:20%;padding:5%;height:100%;"><a>+</a></div>
                    <div style="display:table-cell;border:1px solid #333;height:100%;background:transparent;width:20%;padding:5%;height:100%;"><a>></a></div>

                </div>
                {{#each home.folders}}
                <div class="folder">
                    <div class="folder-content">
                     <div style="margin-top:12px;margin-bottom:-3px"><a href="/edit/{{@index}}" class="foldertitle">{{this.folder_name}}</a></div><span class="folder-date">{{this.last_updated}}</span>
                    </div>
                    <div class="highlights">
                        {{#if this.tag1}}
                            <div class="bar-red"></div>
                        {{else}}
                            <div class="bar-none"></div>
                        {{/if}}
                        {{#if this.tag2}}
                            <div class="bar-yellow"></div>
                        {{else}}
                            <div class="bar-none"></div>
                        {{/if}}
                        {{#if this.tag3}}
                            <div class="bar-green"></div>
                        {{else}}
                            <div class="bar-none"></div>
                        {{/if}}
                        {{#if this.tag4}}
                            <div class="bar-blue"></div>
                        {{else}}
                            <div class="bar-none"></div>
                        {{/if}}
                    </div>
                </div>
                {{/each}}


            <!-- END COPY PASTE HERE FOR SIDE BAR CODE -->
            </div>
            </div>
        </div>
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script src="js/note.js"></script>
    </body>
</html>